@model StockManagement.Models.PositionsMagasin

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails</h1>

<div>
    <h4>Positions magasin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Article
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Article.Id)
        </dd>
        <dt class = "col-sm-2">
            Etagère
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etagere.Id)
        </dd>
        <dt class = "col-sm-2">
            Quantité
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantite)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Éditer", "Edit", new { ArticleId = @Model.ArticleId, EtagereId = @Model.EtagereId }) |
    <a asp-action="Index">Retour à la liste</a>
</div>
