@model IEnumerable<StockManagement.Models.PositionsMagasin>

@{
    ViewData["Title"] = "Positions magasin";
}

<h1>Positions magasin</h1>

<p>
    <a asp-action="Create">Ajouter une position</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etagere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Article.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etagere.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantite)
            </td>
            <td>
                @Html.ActionLink("Éditer", "Edit", new {ArticleId=item.ArticleId, EtagereId=item.EtagereId}) |
                @Html.ActionLink("Détails", "Details", new {ArticleId=item.ArticleId, EtagereId=item.EtagereId}) |
                @Html.ActionLink("Supprimer", "Delete", new {ArticleId=item.ArticleId, EtagereId=item.EtagereId})
            </td>
        </tr>
}
    </tbody>
</table>
