@model StockManagement.Models.Article

@{
    ViewData["Title"] = "Supprimer";
}

<h1>Supprimer</h1>

<h3>Etes-vous sûr de vouloir supprimer cet élément ?</h3>
<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nom
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libelle)
        </dd>
        <dt class = "col-sm-2">
            Code barre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SKU)
        </dd>
        <dt class = "col-sm-2">
            Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateSortie)
        </dd>
        <dt class = "col-sm-2">
            Prix initial
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixInitial)
        </dd>
        <dt class = "col-sm-2">
            Poids
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poids)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
